h1,
p {
  font-family: Lato;
}

.icon {
  opacity: 1;
}

.icon:hover {
  opacity: 1;
  transform: scale(1.2);
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50vw;
  margin: 1rem auto;
}

.flag-image {
}

#result {
  display: flex;
  flex-direction: column-reverse;
  height: 30vh;
  width: 30vw;
  margin: auto;
  border: solid black 0.01rem;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
}

#temperature-out {
  font-size: 3rem;
}

.icon {
  width: 8vw;
  height: 6vh;
  filter: drop-shadow(5px 5px 10px black) contrast(200);
}

#celcius {
  font-size: 1rem;
}

.flag-city {
  display: flex;
  flex-direction: row;
}

.city-photo {
  margin: 5% 0;
  opacity: 0.50;
  width: 15rem;
  height: 10rem;
  filter: blur(0.049em) contrast(0.7) saturate(0.7);
}

img {
}

.city-photo:hover {
  opacity: 0.1;
}

.photo-weather-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

.centered-weather-text {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  place-items: center;
  position: absolute;
  /* text-shadow: 1px 1px 10px white, -1px -1px 10px white, 2px 2px 50px white,
    -2px -2px 50px white;
*/
  text-shadow: white 0px 0px 10px;
  -webkit-text-stroke: orangered 0.20px;
}
